
header{
        color: white;
        text-align: center;
        margin-top: 5px;
        font: normal 18pt Times;
        
}

section{
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 550px;
        margin: auto;
        height: 400px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

div#mensagem{
        border-radius: 5px;
        padding: -1px;
        width: 200px;
        margin: auto;
        border-top: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
        text-align: center;
        font: normal 18pt Times;
}


div#dia{
        background-color: rgba(238, 201, 35, 0.678);
        border-radius: 5px;
        padding: -1px;
        width: 150px;
        margin: auto;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
        text-align:center;
        color:darkred;
        font: normal 18pt Times;
}

div#tarde{
        background-color: rgba(241, 149, 9, 0.884);
        border-radius: 5px;
        padding: -1px;
        width: 150px;
        margin: auto;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
        text-align:center;
        color:white;
        font: normal 18pt Times;
}

div#noite{
        background-color:rgba(26, 4, 87, 0.87);
        border-radius: 5px;
        padding: -1px;
        width: 150px;
        margin: auto;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.308);
        text-align:center;
        color: beige;
        font: normal 18pt Times;
}

div#foto{
        text-align: center;
}


footer{
        color: white;
        text-align: center;
        margin-top: 20px;
        font: italic 18pt Times;
}