body{
    background-color: rgba(236, 32, 127, 0.829);
    font: normal 18pt Arial;
}

header{
        color: white;
        text-align: center;
}

section{
        background: white;
        border-radius: 10px;
        padding: 20px;
        width: 550px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

footer{
        color: white;
        text-align: center;
        font-style: italic;
}

option{
        width: 100px;
}

select#selectanalisador{
        background-color:rgba(240, 255, 255, 0.699);
        width: 200px;
}

